<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>eVOCative 
      {{#if title}}- {{title}}
      {{else}}
      {{/if}}
    </title>
    <link rel="stylesheet" href="../../public/css/styles.css" />

    <link rel="icon" href="../../public/images/favicon.ico" type="image/x-icon">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

  </head>

  <body>
    {{#if noFrame}}
    <!-- no header for some pages, like login and register -->
    {{else}}
    <nav>
      <a href="/">
        <img class="logo_home" src="../../public/images/fullTransparent2.png" alt="eVOCative Logo">
      </a>
      <ul>
        {{#if isAuthenticated}}
        <li><a href="/users/{{sessionUser._id}}">Profile</a></li>
        <li><a href="/words">WordBank</a></li>
        <li><a href="/quiz">Quiz</a></li>
        <li><a href="/forum">Forum</a></li>
        <li><a href="/about">About Us</a></li>

        <li><a href="/logout">Logout</a></li>
        {{else}}
        <li><a href="/about">About Us</a></li>
        {{/if}}
      </ul>
    </nav>
    {{/if}}

    <main>
      {{{body}}}
    </main>

    {{#if noFrame}}

    {{else}}
    <footer>
      <p>Josephine Cerino, Catherine DeMario, Justerini Mejia, Jamie Rollins, Justin Vilchez</p>
      <address>
        <a href="https://github.com/cd721/eVOCative">Our GitHub Repo</a>
      </address>
    </footer>
    {{/if}}
    
  </body>

  <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
</html>