<article id="word_page" class="main_container">
    <h1>[ {{word.word}} ]</h1>
    <p class="definition">{{word.definition}}</p>
    <p class="date_added">Date added: {{dateWordSingle word.dateAdded}}</p>
    <p class="date_added_user">{{dateWordSingle word.date_user_received_word}}</p>
    <div class="tags">
        <h4>Tags</h4>
        <ul>
            {{#each word.tags}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>

    {{#if admin}}
    <a class="link_back" href="/words/all">Back to All Words</a>
    <a href="/admin/editWord/{{word._id}}">Edit This Word</a>
    <a href="/admin/deleteWord/{{word._id}}">Delete This Word</a>
    {{else}}
    <a class="link_back" href="/words">Back to All Words</a>
    {{/if}}
</article>
