{{#if admin}}
<div id="admin-buttons">
    <h2>Admin Actions</h2>
    <div>
        <a href="/admin/editWord/{{word._id}}">Edit Word</a>
        <a href="/admin/deleteWord/{{word._id}}">Delete Word</a>
    </div>
</div>
{{/if}}

<article id="word-page" class="single-container">
    <header>
        <h1>{{word.word}}</h1>
        <div id="word-dates">
            <p class="date_added_user">Date Collected: <span>{{dateWordSingle word.date_user_received_word}}</span></p>
            {{#if admin}}
            <p class="date_added">Date Added: <span>{{dateWordSingle word.dateAdded}}</span></p>
            {{/if}}
        </div>
    </header>

    <div id="word-info">
        <p>{{word.definition}}</p>
        
        <ul id="word-tags" class="tags">
            {{#each word.tags}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
    
    {{#if (wasDeletedLessThan24HoursAgo word.date_flagged_for_deletion word.flagged_for_deletion)}}
    <a href="/users/{{user_id}}/recoverWord/{{word._id}}">Recover This Word</a>
    {{else}}
    <a href="/users/{{user_id}}/deleteWord/{{word._id}}">Delete This Word</a>
    {{/if}}


    <a class="link_back" href="/words">Back to All Words</a>
</article>