<article id="tickets-page" class="index_container">
    <h1>Tickets</h1>
    {{#if newTicket}}
        <a href="/report/new">Create A New Ticket?</a>
    {{/if}}
    <ul>
        {{#each tickets}}
        <li>
            <div>
                <header>
                    <h2><span id="ticket-type">[{{type}}]</span> {{body}} </h2>
                </header>
                <p class="text-date">Submitted by: {{submitter.username}} on {{submission_date}}</p>
            </div>
            {{#if notResolved}}
            <form action="/admin/tickets/{{_id}}" method="POST" id="resolution_button_form">
                <button type="submit">Mark As Resolved?</button>
            </form>
            {{else}}
            <p>Resolved: <span id="is_resolved">{{resolved}}</span></p>
            {{/if}}
        </li>
        {{/each}}
    </ul>
</article>
