{{> loggedInUser}}

<h1>{{user.firstName}} {{user.lastName}}</h1>
<h2>I'm an admin.</h2>
<h2>My accuracy score is: {{toPercentage user.accuracy_score}}%</h2>
<section>
    <h2>My Words</h2>
    {{#each words}}
    <article class="wordsForUser">
        <h2><a href="/words/{{_id}}">{{this.word}}</a></h2>
        <h3>Tags</h3>
        <ul>
            {{#each this.tags}}
            <li><a href="/words/tag/{{this}}">{{this}}</a></li>
            {{/each}}
        </ul>
        <h4>My accuracy score for {{this.word}} is {{toPercentage this.accuracy_score}}.</h4>
        <p><a href="/users/{{../user_id}}/remove/{{_id}}">Remove {{this.word}} from my word bank</a></p>
        {{!-- TODO: user can only remove word when signed in --}}

    </article>
    {{/each}}
</section>

<div id="admin-panel">
    <div id="add-new-word">
        <a href="/admin/addNewWord">Add A New Word</a>
    </div>
    <div id="check-tickets">
        <a href="/admin/tickets">Check Tickets</a>
    </div>
    <div id="see-all-words">
        <a href="/words/all">See All Words</a>
    </div>
</div>

<aside>I've been using eVOCactive since {{user.start_date}}.</aside>