<h1>{{user.firstName}} {{user.lastName}}</h1>
<h2>My accuracy score is: {{user.accuracy_score}}</h2>
<section>
    <h2>My Words</h2>
    {{#each words}}
    <article class="wordsForUser">
        <h2><a href="/words/{{_id}}">{{word.word}}</a></h2>
        <h3>Tags</h3>
        <ul>
            {{#each word.tags}}
            <li><a href="/words/tag/{{this}}">{{word.words}}</a></li>
            {{/each}}
        </ul>
        <h4>My accuracy score for {{word.word}} is {{word.accuracy_score}}.</h4>
        <p><a href="/users/{{../user_id}}/remove/{{_id}}">Remove {{this.word}} from my word bank</a></p>
        {{!-- TODO: user can only remove word when signed in --}}
    </article>
    {{/each}}
</section>
<aside>I've been using eVOCactive since {{user.start_date}}.</aside>