<article id="forum_page" class="main_container">
    <h1>Posts</h1>
    <h2><a href="/forum/new" id="new-post">Make a new post</a></h2>
    <br>
    <p>Filter by tag:</p>
    <form action="/forum" id="tag-filter-form" class="input_container">
        <label for="tagFilter">Enter the tags you want to see:
            <textarea value="tagFilter" id="tagFilter" name="tagFilter" rows="2"></textarea>
            {{!-- <select id="tagFilter" name="tagFilter">
                {{#each tagCollection}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}

            </select> --}}
        </label>
        <button type="submit" class="word-button">Filter</button>
    </form>
    <form action="/forum" id="clear-filtered-tags">
        <button type="submit" class="word-button">Clear Filters</button>
    </form>
    <br>
    <div id="posts_list">
        <ul>
            {{#each posts}}
            <div class="post_preview">
                <li>
                    <section class="individual_post" id="section{{_id}}">
                        <h2><p>{{title}}</p></h2>
                        {{{post}}}
                        {{> tags this}}
                    </section>
                </li>
            </div>
            {{/each}}
            <br>

        </ul>

        </section>
        <script src="/public/js/filterPostsByTag.js"></script>