<article id="forum-page" class="index-container">
    <h1>Forum</h1>

    <header>
        <div id="tags-list">
            <p>Filter by tags:</p>
            {{#each tagList}}
            <button class="tag-button" data-tag="{{this}}">{{this}}</button>
            {{/each}}
        </div>

        <a href="/forum/new" class="create-new">Make a new post</a>
    </header>

    <div id="posts-list">
        <ul>
            {{#each posts}}
            <li class="individual-post" id="section{{_id}}">
                <div>
                    <a href="/forum/{{_id}}">{{title}}</a>
                    <p>{{dateWordIndex this.post_date}}</p>
                </div>

                <ul id="forum-tags" class="tags">
                    {{#each tags}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
            </li>
            {{/each}}
        </ul>
    </div>
</article>

<script src="/public/js/filterPostsByTag.js"></script>
