<section>
    <h1>Posts</h1>
    <h2><a href="/forum/new">Make a new post</a></h2>

    <p>Filter by tag:</p>
    <form action="/forum" id="tag-filter-form">
        <label for="tagFilter">Enter the tags you want to see:
            <textarea value="tagFilter" id="tagFilter" name="tagFilter" rows="2"></textarea>
            {{!-- <select id="tagFilter" name="tagFilter">
                {{#each tagCollection}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}

            </select> --}}
        </label>
        <button type="submit">Filter</button>
    </form>
    <form action="/forum" id="clear-filtered-tags">
        <button type="submit">Clear Filters</button>
    </form>
    <br>
    <div id="postsList">
        <ul>
            {{#each posts}}
            <li>
                <article class="post" id="article{{_id}}">
                    <h2><a href="/forum/{{_id}}">{{title}}</a></h2>
                    {{{post}}}
                    <aside class="tags-for-post">Tags: {{tags}}</aside>
                </article>
            </li>
            <br>
            {{/each}}
        </ul>
    </div>
</section>
<script src="/public/js/filterPostsByTag.js"></script>