<article id="forum_page" class="main_container">
    <h1>Posts</h1>
    <h2><a href="/forum/new">Make a new post</a></h2>

    <p>Filter by tag:</p>
    <form action="/forum" id="tag-filter-form" class="input_container">
        <label for="tagFilter">Enter the tags you want to see:
            <textarea value="tagFilter" id="tagFilter" name="tagFilter" rows="2"></textarea>
        </label>
        <button type="submit">Filter</button>
    </form>
    <form action="/forum" id="clear-filtered-tags">
        <button type="submit">Clear Filters</button>
    </form>
    <br>
    <div id="posts_list">
        <ul>
            {{#each posts}}
            <li class="individual-post" id="section{{_id}}">
                <div>
                    <a href="/forum/{{_id}}">{{title}}</a>
                    <p>{{dateWordIndex this.post_date}}</p>
                </div>

                <ul id="forum-tags" class="tags">
                    {{#each tags}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
            </li>
            {{/each}}
        </ul>
    </div>
</article>

<script src="/public/js/filterPostsByTag.js"></script>
