<article id="post-page" class="single-container">
    <div class="individual-post">

        <div>
          <h2>{{post.title}}</h1>
          <p>{{datePostSingle post.post_date}} | {{ poster_name }} </p>
        </div>
        
        <p class="post-content">{{ post.post }}</p>
        <ul id="post-tags" class="tags">
            {{#each post.tags}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>

    <section id="comments-section">
        <ul id="comments-list">
          {{#if comments}}
          {{#each comments}}
          <li class="individual-post">
              <div>
                <p>{{datePostSingle this.comment_date}} | {{this.name}}</p>
              </div>
              <p class="post-content">{{this.body}}</p>
          </li>
          {{/each}}

          {{else}}
          <li class="individual-post">
            <p id="no-comments">No comments yet. Start the conversation below!</p>
          </li>
        </ul>
        {{/if}}

    </section>

    <form action="/forum/{{post._id}}" method="POST" id="submit-comment" class="form-container">
        <h2>Leave a comment on this post</h2>

        <div>
          <label for="comment">Comment:</label>
          <textarea id="comment" name="comment" placeholder="Enter comment"></textarea>
        </div>

        <input type="hidden" name="postID" value="{{post._id}}">
        <button type="submit">Add Comment</button>
    </form>
    {{!-- <a class="link_back" href="/forum">Back to All Posts</a> --}}
</article>
