<article class="post">
  <h1>{{ post.title }}</h1>
  <address>Posted by {{poster_name}}</address>
  <p>{{ post.post }}</p>

  {{#if post.tags.length}}
  <h3>Tags</h3>
  <ul>
    {{#each post.tags}}
    <li><a href="/forum/tag/{{this}}">{{this}}</a></li>
    {{/each}}
  </ul>
  {{/if}}
  <a href="/forum">Back to All Posts</a>
</article>