<h1>Match the definition to its word</h1>

<h2>{{curWord.word}}</h2>
<button onclick="quizVerificationToWord(curWord, def1, {{correctInd}})" id="buttonDef1">{{def1}}</button>
<button onclick="quizVerificationToWord(curWord, def2, {{correctInd}})" id="buttonDef2">{{def2}}</button>
<button onclick="quizVerificationToWord(curWord, def3, {{correctInd}})" id="buttonDef3">{{def3}}</button>
<button onclick="quizVerificationToWord(curWord, def4, {{correctInd}})" id="buttonDef4">{{def4}}</button>

<script src="../../public/js/quizVerification.js"></script>