<h1>Match the definition to its word</h1>

<h2>{{curWord.word}}</h2>
<button onclick="quizVerificationToWord({{json curWord}}, def1, {{json correctInd}})" id="buttonDef1">{{def1}}</button>
<button onclick="quizVerificationToWord({{json curWord}}, def2, {{json correctInd}})" id="buttonDef2">{{def2}}</button>
<button onclick="quizVerificationToWord({{json curWord}}, def3, {{json correctInd}})" id="buttonDef3">{{def3}}</button>
<button onclick="quizVerificationToWord({{json curWord}}, def4, {{json correctInd}})" id="buttonDef4">{{def4}}</button>

<script src="../../public/js/quizVerification.js"></script>