<h1>Match the definition to its word</h1>

<h2>{{curWord.word}}</h2>
<button onclick="quizVerificationToWord({{json curWord}}, {{json def0}}, {{json correctInd}})"
    id="buttonDef1">{{def0}}</button>
<button onclick="quizVerificationToWord({{json curWord}}, {{json def1}}, {{json correctInd}})"
    id="buttonDef2">{{def1}}</button>
<button onclick="quizVerificationToWord({{json curWord}}, {{json def2}}, {{json correctInd}})"
    id="buttonDef3">{{def2}}</button>
<button onclick="quizVerificationToWord({{json curWord}}, {{json def3}}, {{json correctInd}})"
    id="buttonDef4">{{def3}}</button>

<script src="../../public/js/quizVerification.js"></script>