<form id="quizForm">
    <h1>Match the word to its definition</h1>
    <h2 id="definitionBeingPlayed" class="quizValue">{{curDefinition}}</h2>
    <div>
        <input type="radio" id="button0" name="buttonWord">
        <label for="button0">{{word0}}</label>
    </div>

    <div>
        <input type="radio" id="button1" name="buttonWord">
        <label for="button1">{{word1}}</label>
        
    </div>

    <div>
        <input type="radio" id="button2" name="buttonWord">
        <label for="button2">{{word2}}</label>
    </div>

    <div>
        <input type="radio" id="button3" name="buttonWord">
        <label for="button3">{{word3}}</label>
    </div>

    <input type="submit" id="checkAnswer" value="Check my answer">

    <div id="messageSpace">
        <p id="correct" hidden>You got it!</p>
        <p id="wrong" hidden>Sorry, that was incorrect. Better luck next time!</p>
        <p id="theCorrectAnswer" hidden></p>
        <a id="nextQuestion" href="/quiz/wordToDefinition" hidden>Click here for the next question.</a>
    </div>
</form>



<script src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="/public/js/quiz.js"></script>

