<h1>Match the word to its definition</h1>
<h2 id="definitionBeingPlayed">{{curDefinition.definition}}</h2>
<form action="/quiz/definitionToWord" method="POST" id="wordToDefForm">
    <label for="buttonWord0">{{word0}}</label>
    <input type="radio" id="buttonWord0" name="buttonWord">
<br>
    <label for="buttonWord1">{{word1}}</label>
    <input type="radio" id="buttonWord1" name="buttonWord">
<br>
    <label for="buttonWord2">{{word2}}</label>
    <input type="radio" id="buttonWord2" name="buttonWord">
<br>
    <label for="buttonWord3">{{word3}}</label>
    <input type="radio" id="buttonWord3" name="buttonWord">
<br>
    <input type="submit" id="button" value="Check my answer">


</form>