<h1>Match the word to its definition</h1>
<h2 id="definitionBeingPlayed">{{curDefinition}}</h2>
<form id="quizForm">
    <label for="button0">{{word0}}</label>
    <input type="radio" id="button0" name="buttonWord">
    <br>
    <label for="button1">{{word1}}</label>
    <input type="radio" id="button1" name="buttonWord">
    <br>
    <label for="button2">{{word2}}</label>
    <input type="radio" id="button2" name="buttonWord">
    <br>
    <label for="button3">{{word3}}</label>
    <input type="radio" id="button3" name="buttonWord">
    <br>
    <input type="submit" id="button" value="Check my answer">


</form>
<div id="messageSpace">
    <p id="correct" hidden>You got it!</p>
    <p id="wrong" hidden>Sorry, that was incorrect. Better luck next time!</p>
    <p id="theCorrectAnswer" hidden></p>
    <a id="nextQuestion" href="/quiz/wordToDefinition" hidden>Click here for the next question.</a>

</div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="/public/js/quizVerification.js"></script>

{{!-- TODO: ensure form has necessary attributes --}}