<h1>Match the word to its definition</h1>
<h2 id="definitionBeingPlayed">{{curDefinition}}</h2>
<form id="quizForm">
    <label for="button0">{{word0}}</label>
    <input type="radio" id="button0" name="buttonWord">
    <br>
    <label for="button1">{{word1}}</label>
    <input type="radio" id="button1" name="buttonWord">
    <br>
    <label for="button2">{{word2}}</label>
    <input type="radio" id="button2" name="buttonWord">
    <br>
    <label for="button3">{{word3}}</label>
    <input type="radio" id="button3" name="buttonWord">
    <br>
    <input type="submit" id="button" value="Check my answer">


</form>
<div id="messageSpace"></div>

<a href="/report/word/{{json wordId}}">Report the word: {{curWord.word}}</a>


<script src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="../../public/js/quizVerification.js"></script>

{{!-- TODO: ensure form has necessary attributes --}}